@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  --border: lightgray;
  --icon: silver;
  --text: black;
}
