@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:host {
  display: block;
  width: 100%;
  --border: rgba(0, 0, 0, 0.12);
  --text: black;
  font-size: 1rem;
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.mat-icon {
  display: inline-block;
  font-family: 'Material Icons' !important;
  font-size: 1.4rem;
  color: var(--border);
  cursor: pointer;
  border-radius: 2rem;
  user-select: none;
  transition: color 50ms ease;
  padding: 0.8rem;
  margin: 0.2rem;
}

.mat-icon:active {
  color: var(--text);
}

.brightness-icon {
  position: absolute;
  top: 0;
  right: 0;
}

h2 {
  padding-left: 1rem;
  font-size: 1.3rem;
  color: var(--text);
}

table {
  width: 100%;
}

.table-header {
  font-size: 12px;
  font-weight: 600;
  padding: 12px 16px;
}

td {
  border: 1px solid var(--border);
}
