@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  --border: lightgray;
  --icon: silver;
  --text: black;
}

:host {
  display: block;
  width: 100%;
}

.page-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

h2 {
  padding-left: 1rem;
  font-size: 1.3rem;
  color: var(--text);
  margin: 0.5rem 0;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--border);
}

th {
  text-align: left;
  font-weight: 600;
  user-select: none;
}

.header-cell-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.cell {
  font-size: 12px;
  padding: 8px 16px;
}

@supports (background: paint(id)) {
  .cell:focus {
    outline: none;
    background: paint(excel-cell-border);
  }
}

@supports not (background: paint(id)) {
  .cell:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
  }
}

.numeric-align {
  text-align: right;
}

.icon-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.up {
  transform: rotate(90deg) scale(0.8);
}

.down {
  transform: rotate(-90deg) scale(0.8);
}
